* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  /* position: relative; */
  font-family: sans-serif;
}

.hero_section .headline_cont {
  padding: 250px 100px 0;
}

.hero_section .headline_cont .headline {
  /* font-family: "PT Serif", serif; */
  /* font-family: 'Spectral SC', serif; */
  font-family: 'Georama',
    sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: whitesmoke;
  /* padding: 250px 100px 0; */
  margin-bottom: 30px;
  line-height: 55px;
}

.btn a {
  padding: 8px 13px;
  background-color: #e76f51;
  color: #212529;
  font-weight: bold;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
}

.hero_section {
  background: url(img/wepik-20211130-152825.jpg);
  background-position: left;
  width: 100vw;
  height: 100vh;
}

.hero_section .nav_bar {
  color: black;
  display: flex;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100vw;
  padding: 0 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(10px); */
}

.hero_section .nav_bar .left_nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: 100%;
}

.hero_section .nav_bar .left_nav a {
  display: inline-block;
  color: inherit;
  font-family: "Lato",
    sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 14px 0;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  text-align: center;
  border: none;
  transition: transform 250ms ease-in-out;
}
.hero_section .nav_bar .left_nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #e76f51;
  transition: width .25s ease-in;
}

a:hover::after {
  width: 100%;
}

.hero_section .nav_bar .left_nav a:hover::after,
a:active::after,
a:focus::after {
  width: 100%;
}

.logo a {
  display: block;
  text-decoration: none;
  color: #212529;
   font-family: "Habibi",
  sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

.right_cta a {
  background-color: #e76f51;
  color: #212529;
  padding: 8px 13px;
  /* font-family: "Poppins", sans-serif; */
  font-weight: bold;
  font-size: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-decoration: none;
  text-transform: uppercase;
}

/* ABOUT US SECTION */
.about_us_section {
  background: #212529;
  color: whitesmoke;
  /* font-family: sans-serif; */
  font-size: 14px;
  padding: 70px 20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about_us_section h2 {
  font-size: 32px;
  font-family: 'Georama',
    sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
}

.about_us_section p {
  color: antiquewhite;
  max-width: 970px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

/* WHAT WE DO SECTION */
.wwd_section {
  background: no-repeat url(img/what-we-do-BG.jpg);
  /* filter: saturate(0); */
  background-size: 100vw 250vh;
  width: 100vw;
  position: relative;
  text-align: center;
  padding: 40px 0;
}

.wwd_section .item {
  background-color: rgba(196, 196, 196, 0.2);
  height: 593px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(196, 196, 196, 0.3);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 100;
}

.wwd_section .inverse_item {
  background-color: rgba(196, 196, 196, 0.2);
  height: 593px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  z-index: 100;
}

.wwd_section .inverse_item .item_content {
  width: 100%;
}

.wwd_section .item_content {
  width: 100%;
  padding: 20px 15px;
}

.wwd_section .item_img {
  width: 100%;
  filter: saturate(0);
  height: 300px;
}

.wwd_section h2 {
  margin: 0 0 60px;
  font-size: 32px;
  font-family: 'Georama',
    sans-serif;
  font-weight: 400;
}

.wwd_section .title {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-family: "Habibi", serif;
  font-weight: 600;
  border-bottom: 3px solid #e76f51;
  border-radius: 2px;
  padding: 0 0px 5px 0;
}

.wwd_section .description {
  max-width: 256px;
  font-size: 13px;
  font-family: "Habibi", serif;
  line-height: 20px;
}

.splatter_img {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 36.21px;
  top: 0;
  opacity: 15%;
}

.ass_mugs_img {
  position: absolute;
  width: 500px;
  height: 500px;
  right: 0;
  top: 0;
  opacity: 15%;
}

.gray_flyer_img {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 0;
  top: 900px;
  opacity: 15%;
}

.emb_machine_img {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 70px;
  top: 700px;
  opacity: 15%;
}

.emb_machine2_img {
  position: absolute;
  transform: rotate(15deg);
  width: 400px;
  height: 400px;
  right: 200px;
  top: 1100px;
  opacity: 15%;
}

/* TOP ITEMS */
.top_items {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin: 0 auto;
  text-align: left;
}

.top_items .top_item {
  width: 22%;
  /* margin: 0 auto; */
}

/* BOTTOM ITEM */
.bottom_items {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
  margin: 50px auto 80px auto;
  text-align: left;
}

.bottom_items .bottom_item {
  width: 32%;
}

/* OTHER SERVICES SECTION */
.oss {
  background-color: #212529;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 100vw;
  color: whitesmoke;
  padding: 70px 20px 180px;
}

.oss .heading {
  margin: 0 0 20px;
  font-size: 32px;
  font-family: 'Georama',
    sans-serif;
  font-weight: 400;
}

.oss .oss_desc {
  color: antiquewhite;
  max-width: 970px;
  text-align: center;
  font-family: "Lato",
    sans-serif;
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 25px;
}

.drilling_service {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.drilling_service .drilling_machine_desc {
  /* background-color: #727272; */
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 30px 20px;
}

.drilling_service img {
  width: 400px;
  height: 300px;
}

.drilling_service h2 {
  display: inline-block;
  font-size: 1.25rem;
  font-family: "Habibi",
    serif;
  font-weight: 600;
  padding: 0 0px 5px 0;
  margin-bottom: 20px;
  border-bottom: 3px solid #e76f51;
  border-radius: 2px;
}

.drilling_service p {
  max-width: 320px;
  font-size: 13px;
  font-family: "Habibi",
    serif;
  text-align: left;
  line-height: 20px;
  margin-bottom: 35px;
}

.drilling_service .drilling_machine_desc .right_cta a {
  box-shadow: none;
}

/* FOOTER */
footer {
  background-color: whitesmoke;
  color: #e76f51;
  font-family: "Lato",
    sans-serif;
  border-top: 1px solid rgba(196, 196, 196, 0.3);
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer form {
  text-align: left;
}

footer input[type=text],
input[type=number] {
  display: block;
  margin-bottom: 5px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(196, 196, 196, 0.3)
}

footer input[type=text] {
  margin-bottom: 5px;
}

footer input[type=number] {
  margin-bottom: 8px;
}

footer input[type=submit] {
  display: block;
  color: whitesmoke;
  background-color: #e76f51;
  width: 100%;
  outline: none;
  border: none;
}

form input::placeholder {
  font-size: 10px;
  padding: 2px 4px;
}


footer .col2 {
  text-align: left;
  font-size: 0.9rem;
}

footer .col2 ul {
  list-style: none;
  margin-bottom: 0;
}

footer .col2 ul li {
  margin-bottom: 5px;
}

footer .col3 {
  text-align: right;
  font-family: 0.9rem;
  font-size: 0.9rem;
  margin-bottom: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

footer .col3 a {
  display: inline-block;
  font-family: 0.9rem;
  margin-bottom: 5px;
}

footer .col3 p {
  font-family: 0.9rem;
  margin-bottom: 0;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100vw;
    overflow-x: hidden;
  }

  /* NAV SECTION */
  .hero_section {
    width: 100vw;
    height: 100vh;
    background: url(img/wepik-20211130-152825.jpg);
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: auto; */
  }

  /* HIDE NAVBAR */
  .hero_section .nav_bar {
    display: none;
    pointer-events: none;
  }

  .hero_section .headline_cont {
    padding: 0 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .hero_section .headline_cont .headline {
    font-family: 'Spectral', serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 40px;
    text-align: center;
  }

  .btn a {
    padding: 12px 13px;
    background-color: #e76f51;
    color: #212529;
    font-weight: bold;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .about_us_section h2 {
    font-size: 22px;
    font-family: 'Georama',
      sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0 0 10px;
  }

  .about_us_section p {
    max-width: 600px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    line-height: 25px;
  }

  /* WHAT WE DO SECTION */
  .wwd_section {
    background: no-repeat url(img/what-we-do-BG.jpg);
    /* filter: saturate(0); */
    background-size: 100vw 250vh;
    width: 100vw;
    position: relative;
    text-align: center;
    padding: 40px 0;
  }

  .wwd_section h2 {
    margin: 0 0 60px;
    font-size: 22px;
    font-family: 'Georama',
      sans-serif;
    font-weight: 400;
  }
}