* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  /* position: relative; */
  font-family: sans-serif;
}

.hero_section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url("img/geophysics.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.hero_section .nav_bar {
  color: whitesmoke;
  display: flex;
  background-color: #d45920;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100vw;
  padding: 0 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(10px); */
}

.hero_section .nav_bar .left_nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: 100%;
}

.hero_section .nav_bar .left_nav a {
  display: inline-block;
  color: inherit;
  font-family: "Poppins",
    sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 14px 0;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  text-align: center;
  border: none;
  transition: transform 250ms ease-in-out;
}

.hero_section .nav_bar .left_nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
  transition: width .25s ease-in;
}

a:hover::after {
  width: 100%;
}

.hero_section .nav_bar .left_nav a:hover::after,
a:active::after,
a:focus::after {
  width: 100%;
}

.logo a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Habibi",
    sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

.right_cta a {
  display: inline-block;
  background-color: #d45920;
  color: whitesmoke;
  padding: 8px 13px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero_section .headline_cont {
  text-align: center;
  padding: 250px 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_section .headline_cont .headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}

.hero_section .headline_cont .headline h2 {
  font-family: 'Georama',
    sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: whitesmoke;
  margin-bottom: 10px;
  line-height: 58px;
}

.hero_section .headline_cont .headline p {
  font-family: 'Georama',
    sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: whitesmoke;
  max-width: 600px;
  text-align: center;
}

.headline_cta a {
  display: inline-block;
  background-color: #d45920;
  color: whitesmoke;
  padding: 18px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  border: 3px solid whitesmoke;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

/* ABOUT US SECTION */
.about_us_section {
  background: #d45920;
  color: whitesmoke;
  font-size: 0.8rem;
  padding: 70px 20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about_us_section h2 {
  font-size: 2.2rem;
  font-family: 'Georama',
    sans-serif;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 60%, transparent 50%);
  font-weight: 400;
  text-align: center;
  padding: 10px 0 10px 20px;
}

.about_us_section p {
  color: antiquewhite;
  max-width: 970px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  line-height: 30px;
  margin-top: 15px;
}



/* OTHER SERVICES SECTION */
.oss {
  color: black;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 70px 100px 180px;
  width: 100vw;
  border-top: 1px solid rgba(196, 196, 196, 0.3);
}

.oss .heading h3 {
  color: #d45920;
  font-family: 'Georama',
    sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  /* width: auto; */
  margin: 0 0 20px;
  padding: 10px 0 5px 25px;
  text-align: center;
}

.oss .oss_desc {
  color: inherit;
  max-width: 970px;
  text-align: center;
  font-family: "Lato",
    sans-serif;
  font-size: 1.3rem;
  margin-bottom: 30px;
  line-height: 30px;
}

.oss .flex {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  width: 100%;
}

.drilling_service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 500px;
  margin: 90px auto 0;
}

.drilling_service .drilling_machine_desc {
  /* background-color: #727272; */
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 30px 30px;
  font-size: 1.3rem;
}

.drilling_service img {
  width: 100%;
  height: 300px;
}

.drilling_service h2 {
  display: inline-block;
  font-size: 1.4rem;
  font-family: "Habibi",
    serif;
  font-weight: 600;
  padding: 0 0px 5px 0;
  margin-bottom: 28px;
  border-bottom: 3px solid #d45920;
  border-radius: 2px;
}

.drilling_service p {
  max-width: 320px;
  font-size: 1.0rem;
  font-family: "Habibi",
    serif;
  text-align: left;
  line-height: 31px;
  margin-bottom: 35px;
}

.drilling_service .drilling_machine_desc .cta a {
  display: block;
  background-color: #d45920;
  color: whitesmoke;
  font-family: "Poppins",
    sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 14px 40px;
  border: 3px solid whitesmoke;
  border-radius: 4px;
  text-align: center !important;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: none;
}

/* FOOTER */
footer {
  background-color: whitesmoke;
  color: #d45920;
  font-family: "Lato",
    sans-serif;
  border-top: 2px solid rgba(196, 196, 196, 0.3);
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer form {
  text-align: left;
}

footer input[type=text],
input[type=number] {
  display: block;
  margin-bottom: 5px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(196, 196, 196, 0.3)
}

footer input[type=text] {
  margin-bottom: 5px;
}

footer input[type=number] {
  margin-bottom: 8px;
}

footer input[type=submit] {
  display: block;
  color: whitesmoke;
  background-color: #d45920;
  width: 100%;
  outline: none;
  border: none;
}

form input::placeholder {
  font-size: 10px;
  padding: 2px 4px;
}


footer .col2 {
  text-align: left;
  font-size: 0.9rem;
}

footer .col2 ul {
  list-style: none;
  margin-bottom: 0;
}

footer .col2 ul li {
  margin-bottom: 5px;
}

footer .col3 {
  text-align: right;
  font-family: 0.9rem;
  font-size: 0.9rem;
  margin-bottom: 0;
}

footer .col3 a {
  display: inline-block;
  font-family: 0.9rem;
  margin-bottom: 5px;
}

footer .col3 p {
  font-family: 0.9rem;
  margin-bottom: 0;
}


/*  */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
@media (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  /* NAV SECTION */
  .hero_section {
    width: 100vw;
    height: 100vh;
    background-color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(img/Borehole-Drilling-machine-photo.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
  }

  /* HIDE NAVBAR */
  .hero_section .nav_bar {
    display: none;
    pointer-events: none;
  }

  .hero_section .headline_cont {
    padding: 0 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .hero_section .headline_cont .headline {
    color: whitesmoke;
    font-family: 'Georama',
      sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 45px;
    text-align: center;
  }

  .headline_cta a {
    display: inline-block;
    background-color: #d45920;
    color: whitesmoke;
    padding: 15px 27px;
    font-family: "lato", sans-serif;
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .about_us_section h2 {
    font-size: 22px;
    font-family: 'Georama',
      sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0 0 10px;
  }

  .about_us_section p {
    max-width: 600px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    line-height: 25px;
  }



  /* OTHER SERVICES SECTION */
  .oss {
    color: black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px 80px;
    width: 100vw;
    height: fit-content;
    border-top: 1px solid rgba(196, 196, 196, 0.3);
  }

  .oss .flex {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    width: 100%;
    /* height: 800px; */
  }

  .oss .flex .drilling_service1 {
    margin-bottom: 130px !important;
  }

  .oss .heading {
    background: none;
    font-size: 22px;
    font-family: 'Georama',
      sans-serif;
    font-weight: 400;
    width: auto;
    margin: 0 0 20px;
    padding-left: 2px;
    text-align: center;
  }

  .oss .oss_desc {
    color: black;
    max-width: 320px;
    text-align: center;
    font-family: "Lato",
      sans-serif;
    font-size: 13px;
    margin-bottom: 100px;
    line-height: 25px;
  }

  .drilling_service {
    width: 80%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
  }

  .drilling_service img {
    width: 100%;
    height: 300px;
  }

  footer {
    background-color: whitesmoke;
    color: #d45920;
    font-family: "Lato",
      sans-serif;
    border-top: 2px solid rgba(196, 196, 196, 0.3);
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 30px;
  }

  footer a {
    color: inherit;
    text-decoration: none;
  }

  footer form {
    text-align: center;
  }

  footer input[type=text],
  input[type=number] {
    display: block;
    margin-bottom: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(196, 196, 196, 0.3)
  }

  footer input[type=text] {
    margin-bottom: 10px;
  }

  footer input[type=number] {
    margin-bottom: 10px;
  }

  footer input[type=submit] {
    display: block;
    color: whitesmoke;
    background-color: #d45920;
    width: 100%;
    outline: none;
    border: none;
  }

  form input::placeholder {
    font-size: 10px;
    padding: 2px 4px;
  }


  footer .col2 {
    text-align: center;
    font-size: 0.9rem;
  }

  footer .col2 ul {
    list-style: none;
    margin-bottom: 0;
  }

  footer .col2 ul li {
    margin-bottom: 5px;
  }

  footer .col3 {
    text-align: center;
    font-family: 0.9rem;
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  footer .col3 a {
    display: inline-block;
    font-family: 0.9rem;
    margin-bottom: 5px;
  }

  footer .col3 p {
    font-family: 0.9rem;
    margin-bottom: 0;
  }
}








/* WHAT WE DO SECTION */
/* .wwd_section {
  background-color: black;
  background-size: 100vw 250vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
  text-align: center;
  padding: 40px 0;
}

.wwd_section h2 {
  background: linear-gradient(to right, #963204 55%, transparent 40%);
  color: whitesmoke;
  font-size: 32px;
  font-family: 'Georama',
    sans-serif;
  font-weight: 400;
  margin: 0 0 60px;
  padding: 10px 0 10px 10px;
  width: auto;
}

.wwd_section .item {
  background-color: rgba(196, 196, 196, 0.2);
  height: 593px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(196, 196, 196, 0.3);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 100;
}

.bottom_items .bottom_item {
  width: 32%;
} */
/* .wwd_section .inverse_item {
  height: 593px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  z-index: 100;
} */

/* .wwd_section .inverse_item .item_content {
  width: 100%;
} */

/* .wwd_section .item_content {
  width: 100%;
  padding: 20px 15px;
} */

/* .wwd_section .item_img {
  width: 100%;
  height: 300px;
} */

/* .wwd_section .title {
  color: white;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-family: "Habibi", serif;
  font-weight: 600;
  border-bottom: 3px solid #d45920;
  border-radius: 2px;
  padding: 0 0px 5px 0;
} */

/* .wwd_section .description {
  color: white;
  max-width: 256px;
  font-size: 13px;
  font-family: "Habibi", serif;
  line-height: 20px;
} */

/* .splatter_img {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 36.21px;
  top: 0;
  opacity: 15%;
} */

/* .ass_mugs_img {
  position: absolute;
  width: 500px;
  height: 500px;
  right: 0;
  top: 0;
  opacity: 15%;
}

.gray_flyer_img {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 0;
  top: 900px;
  opacity: 15%;
}

.emb_machine_img {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 70px;
  top: 700px;
  opacity: 15%;
}

.emb_machine2_img {
  position: absolute;
  transform: rotate(15deg);
  width: 400px;
  height: 400px;
  right: 200px;
  top: 1100px;
  opacity: 15%;
}

.col_threads_img {
  display: none;
}

.ass_mugs2_img {
  display: none;
} */

/* TOP ITEMS */
/* .top_items {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin: 0 auto;
  text-align: left;
} */

/* .top_items .top_item {
  width: 22%;
} */

/* BOTTOM ITEM */
/* .bottom_items {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
  margin: 50px auto 80px auto;
  text-align: left;
} */

/* MEDIA QUERIES FOR WHAT WE DO SECTION */

/* .wwd_section {
   background-color: black;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 100vw;
   height: fit-content;
   position: relative;
   text-align: center;
   padding: 40px 0;
 }

 .wwd_section h2 {
   background: linear-gradient(to right, #963204 55%, transparent 40%);
   margin: 0 0 60px;
   font-size: 22px;
   font-family: 'Georama',
     sans-serif;
   font-weight: 400;
   margin: 0 0 60px;
   padding: 5px 0;
   width: 40%;
 }

 .wwd_section .item,
 .inverse_item {
   background-color: rgba(196, 196, 196, 0.2);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 1px solid rgba(196, 196, 196, 0.3);
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   z-index: 100;
 }

 .wwd_section .item_content,
 .inverse_item .item_content {
   width: 100%;
   padding: 20px 15px;
 }

 .wwd_section .item_img {
   width: 100%;
   height: 300px;
 }

 .wwd_section .title {
   color: white;
   display: inline-block;
   margin-bottom: 15px;
   font-size: 1.25rem;
   font-family: "Habibi", serif;
   font-weight: 600;
   border-bottom: 3px solid #d45920;
   border-radius: 2px;
   padding: 20px 0px 5px 5px;
 }

 .wwd_section .description {
   color: white;
   max-width: 256px;
   font-size: 13px;
   font-family: "Habibi", serif;
   line-height: 20px;
   padding-left: 5px;
 }

 .splatter_img {
   position: absolute;
   width: 300px;
   height: 300px;
   left: 0px;
   top: 100px;
   opacity: 15%;
 }

 .ass_mugs_img {
   position: absolute;
   width: 200px;
   height: 200px;
   right: -50px;
   top: 0;
   opacity: 15%;
 }

 .gray_flyer_img {
   position: absolute;
   width: 200px;
   height: 200px;     
   left: 0px;
   top: 500px;
   opacity: 15%;
 }

 .emb_machine_img {
   position: absolute;
   width: 500px;
   height: 500px;
   left: 0px;
   top: 600px;
   opacity: 15%;
 }

 .emb_machine2_img {
   position: absolute;
   transform: rotate(36 0deg);
   width: 300px;
   height: 300px;
   left: 80px;
   top: 1350px;
   opacity: 15%;
 }

 .col_threads_img {
   position: absolute; 
   width: 100%;
   height: 330px;
   left: 0;
   top: 2000px;
   opacity: 15%;
 }

 .ass_mugs2_img {
   position: absolute;
   width: 100%;
   height: 330px;
   left: 0;
   top: 2670px;
   opacity: 15%;
 }

 .item {
   height: fit-content;
 }

 .top_items,
 .bottom_items {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 80vw;
   margin: 0 auto;
   text-align: left;
 }

 .top_items .top_item {
   width: 100%;
   margin-bottom: 40px;
 }

 .bottom_items .bottom_item {
   width: 100%;
   margin-bottom: 40px;
 } */